@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 160px;
  width: 100%; }
  .logo img {
    width: 100%; }

header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 4;
  width: 100%;
  background: #fff; }
  header .logo {
    position: absolute;
    left: 70px;
    top: 30px; }
  header .container-fluid {
    padding: 0 70px; }
  header .btn-call {
    position: absolute;
    right: 70px;
    top: 22px; }

.header-bottom {
  padding: 40px 0; }

.hover {
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08); }

.phone {
  color: #212121;
  margin: 0 -50px 0 0;
  font-weight: 600;
  font-size: 16px; }
  .phone:hover {
    color: #CF5555; }

.links-cabinet {
  margin: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  fill: #212121; }
  .links-cabinet:hover {
    fill: #CF5555; }

.list-language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 12px;
  text-transform: uppercase; }
  .list-language li {
    margin: 0 10px 0 0;
    padding: 0 10px 0 0;
    border-right: 1px solid #E5E8E9; }
    .list-language li:last-child {
      margin: 0;
      padding: 0;
      border: none; }
    .list-language li a {
      color: #212121; }
      .list-language li a:hover {
        color: #CF5555; }
    .list-language li .active {
      color: #CF5555; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 14px;
  font-weight: 500;
  margin: 0 auto 0 0; }
  .menu li {
    margin: 0 40px 0 0; }
    .menu li:last-child {
      margin: 0; }
    .menu li > a {
      position: relative;
      padding: 36.5px 0;
      color: #212121; }
      .menu li > a:hover {
        color: #CF5555; }

.js-tab-trigger.active:after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  border: none;
  width: 100%;
  height: 4px;
  background: #CF5555;
  margin: 0; }

.btn-burger {
  width: 30px;
  cursor: pointer;
  display: none; }
  .btn-burger span {
    width: 100%;
    background: #CF5555;
    height: 3px;
    display: block;
    margin: 0 0 5px;
    border-radius: 4px; }
    .btn-burger span:last-child {
      margin: 0; }

.js-tab-content {
  display: none; }
  .js-tab-content.active {
    display: block; }

.dropdown-menu-list {
  font-size: 16px;
  font-weight: 600; }
  .dropdown-menu-list li {
    margin: 0 0 20px; }
    .dropdown-menu-list li:last-child {
      margin: 0; }
    .dropdown-menu-list li a {
      color: #212121;
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .dropdown-menu-list li a:before {
        content: '';
        width: 12px;
        height: 12px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin: 0 5px 0 0;
        background: url("../img/arrow-right.svg") no-repeat center;
        background-size: 100%; }
      .dropdown-menu-list li a:hover {
        color: #CF5555; }

.service-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.service-product__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  min-width: 40px;
  background: #2F4050;
  border-radius: 5px;
  padding: 10px; }

.service-product__body {
  width: calc(100% - 40px);
  padding: 0 0 0 10px; }

.service-product__title {
  color: #212121;
  font-weight: 600;
  font-size: 16px;
  display: block; }

.service-product__text {
  color: #999999;
  font-size: 14px;
  font-weight: 500;
  display: block; }

.mobile-menu {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  max-width: 280px;
  padding: 30px;
  background: #fff;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
  z-index: 5;
  display: none;
  overflow-y: auto; }
  .mobile-menu .menu {
    font-size: 16px;
    margin: 30px 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .mobile-menu .menu a {
      padding: 0; }
    .mobile-menu .menu li {
      width: 100%;
      margin: 0 0 20px; }
      .mobile-menu .menu li:last-child {
        margin: 0; }
  .mobile-menu .list-language {
    font-size: 16px;
    margin: 20px 0; }
  .mobile-menu .links-cabinet {
    margin: 0 0 0 10px; }
  .mobile-menu .phone {
    font-size: 20px; }
  .mobile-menu .logo {
    margin: 0 auto; }

.btn-close-menu {
  width: 24px;
  height: 24px;
  position: relative;
  margin: 0 0 20px auto;
  cursor: pointer; }
  .btn-close-menu:before, .btn-close-menu:after {
    content: '';
    position: absolute;
    left: 12px;
    top: 0;
    width: 2px;
    height: 100%;
    background: #CF5555;
    border-radius: 3px; }
  .btn-close-menu:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  .btn-close-menu:after {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg); }

.mobile-menu-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .mobile-menu-toggle:after {
    content: '';
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 10px;
    height: 20px;
    background: url("../img/arrow-right.svg") no-repeat center;
    background-size: 100%;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg); }

.mobile-menu-sub {
  width: 100%;
  padding: 10px;
  display: none; }
  .mobile-menu-sub .service-product {
    margin: 0 0 20px; }
    .mobile-menu-sub .service-product:last-child {
      margin: 0; }
  .mobile-menu-sub .dropdown-menu-list {
    font-size: 14px; }
    .mobile-menu-sub .dropdown-menu-list li {
      margin: 0 0 10px; }
